1 翻译功能

- 系统支持所有语言的在线翻译。用户可以在用于输入语言的方框上方选择需要翻译的语言，然后输入自需要翻译的语言，输入完成可以在用于输出语言的方框上方选择需要输出的语言，然后点击翻译，翻译出来的语言会显示在输出语言的方框中。如用户可以选择输入汉字，输入一段汉字，可选择翻译成英文，点击翻译，翻译成英文后输出。
- 系统调用第三方提供的接口进行翻译。

2 语音输入和输出功能

- 系统支持语音输入和输出。用户先切换到语音翻译功能，体验前请检查麦克风是否可用，然后指定音频语言、译文语言，点击按钮开始录音，即可实时获取识别翻译的文字。
- 系统支持语音合成功能。用户先切换到语音合成功能，然后在用于输入语言的方框中输入相应的语言，然后点击方框右下方的语音合成按键，系统对文本进行分析后可以生成相应语言的语音输出。

3 第三方OCR和语音识别功能

- 系统支持第三方OCR功能。用户先切换到第三方OCR功能，然后选择上传方式，可以选择拍照或上传相册照片、pdf等，选择要识别的语言，进行识别，识别完成后会将信息输出到方框中。
- 系统支持第三方语音识别功能。
